PROJECT_NAME ="Drones-Autonomos API"
API_V1_STR="/api/v1"
ENVIRONMENT="development"

#base de datos
DATABASE_URL="postgresql://drone_user:drone_password@localhost:5432/drone_db"

#Seguridad y autenticacion jwt
SECRET_KEY="e82be09c8935b2cfb534620c9d5486b9184cc3e8e02fa1eb50f2858ce341cf58"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=480